:root {
  --white: #ffffffff;
  --davys-gray: #4B4B4Bff;
  --antiflash-white: #cbcac8;
  --white-smoke: #f4f4f4ff;
  --night: #0b0b0bff;
  --eerie-black: #191919ff;
  --purple-color: #7e55d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: ease-out 200ms !important;
}

body {
  background-color: #202020;
  color: var(--white) !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.light-body{
  background-color: var(--white);
  color: var(--davys-gray) !important;
}

main {
  /* Main container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calculator {
  /* Calculator container */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 300px;
  background-color: var(--eerie-black);
  border-radius: 10px;
  box-shadow: -5px -5px 0 0 #7e55d9, 10px 10px 0 0 orange;
}

.light-calc{
  background-color: var(--white-smoke);
}

.navigation{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  width: 90%;
  background-color: var(--eerie-black);
  -moz-box-shadow: 2px 3px 4px 2px var(--night);
  -webkit-box-shadow: 2px 3px 4px 2px var(--night);
  box-shadow: 2px 3px 4px 2px var(--night);
  border-radius: 15px;
}

.navigation > p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.navigation > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.navigation li{
  text-align: center;
  margin-bottom: 1rem;
}

.navigation button{
  position: absolute;
  padding: 1rem;
  top: 10px;
  right: 10px;
}

.navigation input{
  border-radius: 10px;
  border-color: transparent;
  -moz-box-shadow: 2px 3px 4px 2px var(--night);
  -webkit-box-shadow: 2px 3px 4px 2px var(--night);
  box-shadow: 2px 3px 4px 2px var(--night);
  background-color: var(--eerie-black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.05rem;
  color: var(--white-color);
  padding: 1rem 2rem;
}

.nav-container{
  display: none;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 0;
}

input[name="variable"]{
  padding: .5rem 1rem;
  width: 80%;
}

input[value="Save"]:hover{
  background-color: var(--night);
}

input[value="Save"]:active{
  background-color: orange;
}

.display {
  /* Display container */
  display: flex;
  flex-direction: column;
  height: 30%;
  -moz-box-shadow: 0 4px 4px var(--night);
  -webkit-box-shadow: 0 4px 4px var(--night);
  box-shadow: 0 4px 4px var(--night);
  background-color: var(--eerie-black);
  border-radius: 10px;
  padding: 15px;
}

.light-display{
  -moz-box-shadow: 0 4px 4px var(--antiflash-white);
  -webkit-box-shadow: 0 4px 4px var(--antiflash-white);
  box-shadow: 0 4px 4px var(--antiflash-white);
  background-color: var(--white-smoke);
}

.upper-display {
  /* Upper display container */
  flex: 1;
}

#orange-logo {
  object-fit: contain;
  height: 25px;
  width: auto;
  float: right;
}

.solution {
  /* Middle display container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 2;
  font-size: 0.8rem;
  color: var(--purple-color);
}

.solution > p {
  overflow-x: auto;
  text-wrap: nowrap;
}



.solution > p::-webkit-scrollbar {
  height: 5px;
}

.solution > p::-webkit-scrollbar-thumb {
  background: #7e55d9;
  border-radius: 3px;
}

.result {
  /* Lower display container */
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.5rem;
}

.result > p {
  overflow-x: auto;
}

.result > p::-webkit-scrollbar {
  height: 5px;
}

.result > p::-webkit-scrollbar-thumb {
  background: #7e55d9;
  border-radius: 5px;
}

#equal-to {
  color: orange;
  float: left;
  margin-right: 15px;
}

.keypad {
  /* Buttons container container */
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 15px;
}

button {
  border-radius: 10px;
  border-color: transparent;
  -moz-box-shadow: 2px 3px 4px 2px var(--night);
  -webkit-box-shadow: 2px 3px 4px 2px var(--night);
  box-shadow: 2px 3px 4px 2px var(--night);
  background-color: var(--eerie-black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.05rem;
  color: var(--white-color);
}

button:hover {
  background-color: var(--night);
}

button:active {
  background-color: orange;
  transition: none !important;
}

.light-btn{
  background-color: var(--white-smoke) !important;
  color: var(--davys-gray) !important;
  -moz-box-shadow: 2px 3px 4px 2px var(--davys-gray);
  -webkit-box-shadow: 2px 3px 4px 2px var(--davys-gray);
  box-shadow: 2px 3px 4px 2px var(--antiflash-white);
}

.light-btn:hover{
  background-color: var(--antiflash-white) !important;
}

.light-btn:active{
  background-color: orange !important;
  transition: none !important;
}

.history {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--eerie-black);
  box-shadow: inset 0 0 10px 5px var(--night);
  margin-bottom: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  align-items: center;
  overflow-y: scroll;
  color: #f2f2f2;
  font-size: 0.6rem;
}

.light-history{
  background-color: var(--white-smoke);
  box-shadow: inset 0 0 10px 5px var(--antiflash-white);
  color: var(--davys-gray);
}

.history::-webkit-scrollbar {
  width: 0;
}

.complex-operators {
  /* Complex operators container */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 6px;
  grid-column: 1 / span 2;
  flex: 2;
  margin-bottom: 15px;
}

.complex-buttons {
  /* Complex operators container */
  font-size: 0.7rem;
  border-radius: 5px;
}

.lower-keypad {
  /* Lower keypad container */
  display: flex;
  flex: 1;
  aspect-ratio: 5 / 4;
  gap: 12px;
}

.numpad {
  /* Numbers and the Dots container */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 3;
  align-items: center;
  gap: 12px;
}

.numpad-buttons {
  color: var(--white);
  aspect-ratio: 1 / 1;
}

.operators {
  /* Basic operators container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 2;
  align-items: center;
  gap: 12px;
}

.operator-buttons {
  color: var(--white);
  aspect-ratio: 1 / 1;
}

.operator-buttons:last-child {
  background-color: var(--purple-color) !important;
  color: var(--white) !important;
}

.operator-buttons:last-child:hover {
  background-color: rgb(61, 37, 112) !important;
}

@media screen and (max-width: 450px) {
  .calculator {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .display {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (min-height: 1200px) {
  .calculator {
    height: 80%;
    width: 60%;
  }
}

/* dark and light theme style */
label[for="darkmode-toggle"] {
  margin-top: 5px;
  height: 15px;
  width: 30px;
  position: relative;
  display: block;
  background: orange;
  border-radius: 20px;
  float: left;
  cursor: pointer;
}

label[for="darkmode-toggle"]::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2.4px;
  left: 1px;
  background: black;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0);
}

#darkmode-toggle {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#darkmode-toggle:checked + label[for="darkmode-toggle"] {
  background: var(--purple-color);
}

#darkmode-toggle:checked + label[for="darkmode-toggle"]::after {
  left: 3px;
  transform: translateX(160%);
}

:hover {
  cursor: crosshair;
}
